<form [formGroup]="searchBar" (ngSubmit)="onSubmit()">
    <div>
        <label for="username">Username: </label>
        <input type="text" formControlName="movieName">
        <div *ngIf="movieName?.errors?.['required']" ngClass="error">
            This field is required.
        </div>
    </div>
    <button type="submit">Search</button>
</form>
<app-movie-view [movie]="this.movie" *ngIf="this.movieRequested"></app-movie-view>
<div ngClass="error" *ngIf="this.requestError">
    This movie doesn't exist in the imdb database.
</div>