<form [formGroup]="searchBar" (ngSubmit)="onSubmit()" ngClass="searchBar">
    <div ngClass="column">
        <label for="username">Title: </label>
        <input type="text" formControlName="movieName" (input)="requiredError = false;">
        <button type="submit">Search</button>
    </div>
    <div *ngIf="requiredError" ngClass="error">
        Movie title cannot be empty.
    </div>
    <div ngClass="error" *ngIf="this.requestError && !requiredError">
        This movie doesn't exist in the imdb database.
    </div>
</form>
<app-movie-view [movie]="this.movie" *ngIf="this.movieRequested" ngClass="movie"></app-movie-view>
