/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
}
$color_1: #FFF5C1;
$color_2: #FAA628;
$color_3: #EB9A69;
$color_4: #8D5555;
body{
    background-color: $color_1;
}